<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row d-flex text-end mt-4">
    <form [formGroup]="newform">
      <label for="">Enter Number :</label>
      <input type="number" class="ms-1 p-1" formControlName="number">
      <button class="btn btn-primary ms-2" (click)="onsubmit()">Submit</button>
    </form>
  </div>
  <div>
    <div class="container col-sm-5" *ngIf="popup">
      <div class="card p-2 mb-3 popup">
        <p class="row justify-content-center">Are You Sure You Want to delete This information?</p>
        <div class="d-flex justify-content-center">
          <button class="btn btn-danger col-2" (click)="deleteForm()">Yes</button>
          <button class="btn btn-warning col-2 ms-2" (click)="cancelForm()">No</button>
        </div>
      </div>
    </div>
    <div *ngFor="let item of data; let i = index" class="row">
      <div class="card p-4 mt-3 col-sm-6">
        <form [formGroup]="item.form">
          <span class="d-flex justify-content-end mb-2 fs-3">
            <i class="fa fa-times-circle" aria-hidden="true" (click)="prepareDelete(item)"></i>
        </span>
          <input type="text" class="form-control" [(ngModel)]="item.num1" [name]="'num1'" placeholder="Name"
            formControlName="name">
          <span *ngIf="item.form.get('name')?.hasError('required') && item.form.get('name')?.touched">Enter Your
            Name</span>
          <span *ngIf="item.form.get('name')?.hasError('pattern') ">Allow only Characters</span>
          <input type="text" class="form-control mt-2" [(ngModel)]="item.num2" [name]="'num2'"
            placeholder="Mobile number" formControlName="mobileno">
          <span *ngIf="item.form.get('mobileno')?.hasError('required') && item.form.get('mobileno')?.touched">Enter Your
            Mobile no</span>
          <span *ngIf="item.form.get('mobileno')?.hasError('pattern')">Allowed only Numbers 10 digit enter </span>
          <input type="text" class="form-control mt-2" [(ngModel)]="item.num3" [name]="'num3'" placeholder="Address"
            formControlName="address">
          <span *ngIf="item.form.get('address')?.hasError('required') && item.form.get('address')?.touched">Enter Your
            Address</span>
          <div class=" text-center ">
            <button type="submit" class="btn btn-primary mt-3 " (click)="onFormSubmit(item)">Submit</button>
          </div>
        </form>
      </div>
      <div class="col-sm-6">
        <table *ngIf="item.submittedData" class="table mt-3">
          <tr>
            <th>Name</th>
            <th>Mobile NO</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <tr>
            <td>{{ item.submittedData.num1 }}</td>
            <td>{{ item.submittedData.num2 }}</td>
            <td>{{ item.submittedData.num3 }}</td>
            <td><button class="btn btn-secondary mt-3 ms-2" (click)="onEdit(i)">Edit</button></td>
            <td><button class="btn btn-danger mt-3 ms-2" (click)="showPopup(i)">Delete</button></td>
          </tr>
        </table>
      </div>
      <div class="container col-sm-5" *ngIf="item.showPopup">
        <div class="card p-2 mb-3 popup">
          <p class="row justify-content-center">Are You Sure You Want to delete This information?</p>
          <div class="d-flex justify-content-center">
            <button class="btn btn-danger col-2" (click)="confirmDelete(i)">Yes</button>
            <button class="btn btn-warning col-2 ms-2" (click)="cancelDelete(i)">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>